
@media screen {
    
body {
    background: url(bg.jpg);
    background-size: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}
}
.homebanner{
    padding: 0%;
    margin: 0%;
  
}
.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    background: url(public.svg);
    width: 550px;
    border-radius: 25px;
    padding: 20px;
    margin-top: 1%;
    margin-left: 25%;
}   
.container form {
    display: flex;
    flex-direction: column;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    padding: 8px;
    border: 1.5px solid black;
    border-radius: 4px;
}

.form-group textarea {
    padding: 8px;
    border: 1.5px solid black;
    border-radius: 4px;
    resize: none;
}

.container button {
    border: none;
    background: #0b96a8;
    color: #222;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.homebanner{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size:contain;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .logo{
    width: 120px;
    cursor:pointer;
    mix-blend-mode: multiply;
}
.horizontal-list {
    display: flex; /* Use Flexbox */
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}
.horizontal-list ul {
    display: flex; /* Nested flex container for list items */
    padding: 0; /* Remove default padding */
}
 
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}
    .navbar ul li a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
}
    .navbar ul li::after{
     content: '';
     height: 3px;
     width: 0%;
     background: #009688;
     position: absolute;
     left: 0%;
     bottom: -10px;
     transition: 0.3s;
     }
.navbar ul li:hover::after{
    width: 100%;
}
    
